<a href="https://colab.research.google.com/github/jingxuchen19/Econ5200-midterm-project/blob/main/notebooks/01_Data_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Step 1.3: Data Ingestion Sandbox

In [9]:
import pandas as pd
import numpy as np

In [19]:
# Define column positions from codebook
col_specs = [
    (0, 3),     # SHEET
    (4, 5),     # CHAIN
    (6, 7),     # CO_OWNED
    (8, 9),     # STATE
    (10, 11),   # SOUTHJ
    (12, 13),   # CENTRALJ
    (14, 15),   # NORTHJ
    (16, 17),   # PA1
    (18, 19),   # PA2
    (20, 21),   # SHORE
    (22, 24),   # NCALLS
    (25, 30),   # EMPFT
    (31, 36),   # EMPPT
    (37, 42),   # NMGRS
    (43, 48),   # WAGE_ST
    (49, 54),   # INCTIME
    (55, 60),   # FIRSTINC
    (61, 62),   # BONUS
    (63, 68),   # PCTAFF
    (69, 70),   # MEALS
    (71, 76),   # OPEN
    (77, 82),   # HRSOPEN
    (83, 88),   # PSODA
    (89, 94),   # PFRY
    (95, 100),  # PENTREE
    (101, 103), # NREGS
    (104, 106), # NREGS11
    (107, 108), # TYPE2
    (109, 110), # STATUS2
    (111, 117), # DATE2
    (118, 120), # NCALLS2
    (121, 126), # EMPFT2
    (127, 132), # EMPPT2
    (133, 138), # NMGRS2
    (139, 144), # WAGE_ST2
    (145, 150), # INCTIME2
    (151, 156), # FIRSTIN2
    (157, 158), # SPECIAL2
    (159, 160), # MEALS2
    (161, 166), # OPEN2R
    (167, 172), # HRSOPEN2
    (173, 178), # PSODA2
    (179, 184), # PFRY2
    (185, 190), # PENTREE2
    (191, 193), # NREGS2
    (194, 196)  # NREGS112
]

col_names = [
    'SHEET', 'CHAIN', 'CO_OWNED', 'STATE',
    'SOUTHJ', 'CENTRALJ', 'NORTHJ', 'PA1', 'PA2', 'SHORE',
    'NCALLS', 'EMPFT', 'EMPPT', 'NMGRS', 'WAGE_ST',
    'INCTIME', 'FIRSTINC', 'BONUS', 'PCTAFF', 'MEALS',
    'OPEN', 'HRSOPEN', 'PSODA', 'PFRY', 'PENTREE',
    'NREGS', 'NREGS11',
    'TYPE2', 'STATUS2', 'DATE2', 'NCALLS2',
    'EMPFT2', 'EMPPT2', 'NMGRS2', 'WAGE_ST2',
    'INCTIME2', 'FIRSTIN2', 'SPECIAL2', 'MEALS2',
    'OPEN2R', 'HRSOPEN2', 'PSODA2', 'PFRY2', 'PENTREE2',
    'NREGS2', 'NREGS112'
]

df_raw = pd.read_fwf('public.dat', colspecs=col_specs, names=col_names, na_values='.')

In [20]:
df_raw.head()

,SHEET,CHAIN,CO_OWNED,STATE,SOUTHJ,CENTRALJ,NORTHJ,PA1,PA2,SHORE,...,FIRSTIN2,SPECIAL2,MEALS2,OPEN2R,HRSOPEN2,PSODA2,PFRY2,PENTREE2,NREGS2,NREGS112
0,46,1,0,0,0,0,0,1,0,0,...,0.08,1.0,2.0,6.5,16.5,1.03,NaN,0.94,4.0,4.0
1,49,2,0,0,0,0,0,1,0,0,...,0.05,0.0,2.0,10.0,13.0,1.01,0.89,2.35,4.0,4.0
2,506,2,1,0,0,0,0,1,0,0,...,0.25,NaN,1.0,11.0,11.0,0.95,0.74,2.33,4.0,3.0
3,56,4,1,0,0,0,0,1,0,0,...,0.15,0.0,2.0,10.0,12.0,0.92,0.79,0.87,2.0,2.0
4,61,4,1,0,0,0,0,1,0,0,...,0.15,0.0,2.0,10.0,12.0,1.01,0.84,0.95,2.0,2.0